body {
    height: 100vh;
    background: url('./img.png'), url('./background.png');
    background-repeat: no-repeat no-repeat;
    background-position: center center;
}

.redButton {
    background: #fff;
    border: 1px solid gray;
}
